<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.BmemberDAO5">
	<resultMap id="result" type="Bmember">
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>  
	</resultMap>
	
	 <select id="adminCheck" parameterType="String" resultMap="result">
       SELECT * FROM tbl_admin WHERE email = #{email} 
    </select>
    
</mapper>