<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.Tbl_areaDao">

	<resultMap type="Tbl_area" id="result">
	<result property = "id" column = "id"/>
	<result property = "agencyName" column = "agencyName"/>
	<result property = "bulidingType" column = "bulidingType"/>
	<result property = "rentType" column = "rentType"/>
	<result property = "areaPrice" column = "areaPrice"/>
	<result property = "areaSize" column = "areaSize"/>
	<result property = "floor" column = "floor"/>
	<result property = "adongCd" column = "adongCd"/>
	<result property = "areaAddress" column = "areaAddress"/>
	<result property = "email" column = "email"/><!-- 추가/유나 -->
	
	</resultMap>
	
	<select id="getEstateInfo" parameterType="String"  resultType="Tbl_area">
		select * from Tbl_area where adongCd = #{adongCd}
	</select>
	
	
	<select id="getEstateInfoById" parameterType="int"  resultType="Tbl_area">
		select * from Tbl_area where id = #{id}
	</select>
	
	<select id="myBuilding" parameterType="String" resultMap="result">
		select * from Tbl_area where email = #{email}
	</select>
	
</mapper>
