#wrap {
	height: vw;
}

* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Jua', sans-serif;
}

body {
	font-family: 'Jua', sans-serif;
}

#mapwrap {
	position: relative;
	overflow: hidden;
	height: 1025px;
}

.category, .category * {
	margin: 0;
	padding: 0;
	color: #000;
}

.category {
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: 10px;
	width: 700px;
	height: 90px;
	z-index: 10;
	border: 1px solid black;
	font-family: 'Malgun Gothic', '���� ���', sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
}

.category .menu_selected {
	background: coral;
	color: #fff;
	border-left: 1px solid #915B2F;
	border-right: 1px solid #915B2F;
	margin: 0 -1px;
}

.category li {
	list-style: none;
	float: left;
	width: 50px;
	height: 90px;
	padding-top: 5px;
	cursor: pointer;
}

.category .ico_comm {
	display: block;
	margin: 0 auto 2px;
	width: 22px;
	height: 26px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png')
		no-repeat;
}

.category .ico_koreafood {
	background-position: -10px 0;
}

.category .ico_chinafood {
	background-position: -10px -36px;
}

.category .ico_japanfood {
	background-position: -10px -72px;
}

.icon img {
	width: 40px;
}

.removeCc {
	position: absolute;
	overflow: hidden;
	top: 40px;
	left: 720px;
	z-index: 10;
	border: 1px solid black;
	font-family: 'Malgun Gothic', '���� ���', sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
}

.removeCc span {
	display: block;
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.viewTraffic {
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: 720px;
	width: 100px;
	height: 20px;
	z-index: 10;
	border: 1px solid black;
	font-family: 'Malgun Gothic', '���� ���', sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	padding-top: 5px;
}

.length {
	position: absolute;
	overflow: hidden;
	top: 10px;
	left: 830px;
	width: 100px;
	height: 65px;
	z-index: 10;
	border: 1px solid black;
	font-family: 'Malgun Gothic', '���� ���', sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	padding-top: 5px;
}

.lengthInfo {
	position: absolute;
	overflow: hidden;
	top: 84px;
	left: 772px;
	width: 220px;
	height: 19px;
	z-index: 10;
	border: 1px solid black;
	font-family: 'Malgun Gothic', '���� ���', sans-serif;
	font-size: 10px;
	text-align: center;
	background-color: #fff;
	padding-top: 1px;
}

.radius_border {
	border: 1px solid #919191;
	border-radius: 5px;
}

.custom_typecontrol {
	position: absolute;
	top: 10px;
	right: 10px;
	overflow: hidden;
	width: 130px;
	height: 30px;
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 12px;
	font-family: 'Malgun Gothic', '���� ���', sans-serif;
}

.custom_typecontrol span {
	display: block;
	width: 65px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

.btn {
	background: #fff;
	background: linear-gradient(#fff, #e6e6e6);
}

.btn:hover {
	background: #f5f5f5;
	background: linear-gradient(#f5f5f5, #e3e3e3);
}

.btn:active {
	background: #e6e6e6;
	background: linear-gradient(#e6e6e6, #fff);
}

.custom_typecontrol .selected_btn {
	color: #fff;
	background: #425470;
	background: linear-gradient(#425470, #5b6d8a);
}

.custom_typecontrol .selected_btn:hover {
	color: #fff;
}

.custom_zoomcontrol {
	position: absolute;
	top: 50px;
	right: 10px;
	width: 36px;
	height: 80px;
	overflow: hidden;
	z-index: 1;
	background-color: #f5f5f5;
}

.custom_zoomcontrol span {
	display: block;
	width: 36px;
	height: 40px;
	text-align: center;
	cursor: pointer;
}

.custom_zoomcontrol span img {
	width: 15px;
	height: 15px;
	padding: 12px 0;
	border: none;
}

.custom_zoomcontrol span:first-child {
	border-bottom: 1px solid #bfbfbf;
}
/* .over_mouse:hover {background:#82c1ff;} */
.title {
	font-size: 18px;
	height: 30px;
	color: coral;
	font-weight: 800;
}

.top {
	font-size: 22px;
	height: 30px;
	color: coral;
	font-weight: 800;
}

.infocc {
	position: relative;
	top: 5px;
	left: 5px;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	font-size: 12px;
	padding: 5px;
	background: #fff;
	list-style: none;
	margin: 0;
}

.infocc:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.infocc .labelcc {
	display: inline-block;
	width: 50px;
}

.numbercc {
	font-weight: bold;
	color: red;
}

#sidebar {
	float: left;
	margin: 0 auto;
	position: relative;
	background: url(/are/resources/img/sidebar_back.jpg);
}

#logo {
	height: 160px;
	width: 200px;
}

#address {
	height: 180px;
	width: 100%;
	text-align: center;
}

#upjong {
	height: 570px;
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 30px;
}

#footer {
	height: 35px;
	width: 100%;
	text-align: center;
}

#header {
	height: 35px;
	width: 100%;
	text-align: center;
}

#header ul {
	padding-top: 6px;
}

#input {
	width: 240px;
	height: 40px;
	border-radius: 10px;
	font-size: 15px;
}

hr {
	margin: 10px auto;
	width: 250px;
	color: white;
}
/* #input:hover{background:white;}  */
li {
	padding: 7px;
}

h4 {
	font-size: 20px;
}

#status {
	width: 280px;
	height: 450px;
	border-radius: 10px;
	background: white;
}
/* #input:hover{color:#c0c0c0;}  */
/* .options:hover{background:white;color:red;} */
/* #out:hover{background:#82c1ff;} */
#food1 {
	position: absolute;
	top: 122px;
	left: 270px;
	z-index: -1;
	width: 200px;
}

#food2 {
	position: absolute;
	top: 535px;
	left: -27px;
	z-index: -4;
	width: 200px;
}

#food3 {
	position: absolute;
	top: 900px;
	left: 150px;
	z-index: -1;
	width: 200px;
}

#food4 {
	position: absolute;
	top: 900px;
	left: 0;
	z-index: -1;
	width: 200px;
}

#food5 {
	position: absolute;
	top: 227px;
	left: -62px;
	z-index: -1;
	width: 200px;
}

#food6 {
	position: absolute;
	top: 900px;
	left: 0;
	z-index: -1;
	width: 200px;
}

#food7 {
	position: absolute;
	top: 20px;
	left: -13px;
	z-index: 1;
	width: 120px;
}

#food8 {
	position: absolute;
	top: 900px;
	left: 100px;
	z-index: -1;
	width: 200px;
}

#food9 {
	position: absolute;
	top: 900px;
	left: 120px;
	z-index: -1;
	width: 200px;
}

#food10 {
	position: absolute;
	top: 900px;
	left: 140px;
	z-index: -1;
	width: 200px;
}

#food11 {
	position: absolute;
	top: 928px;
	left: 330px;
	z-index: -1;
	width: 200px;
	height: 190px;
}

#food12 {
	position: absolute;
	top: 907px;
	left: 185px;
	z-index: -1;
	width: 150px;
}

#food13 {
	position: absolute;
	top: 853px;
	left: 282px;
	z-index: -2;
	width: 150px;
}

#food14 {
	position: absolute;
	top: 947px;
	left: 236px;
	z-index: -1;
	width: 150px;
}

#food15 {
	position: absolute;
	top: 391px;
	left: 273px;
	z-index: -1;
	width: 200px;
}

#food16 {
	position: absolute;
	top: 930px;
	left: -54px;
	z-index: -1;
	width: 200px;
	transform: rotate(211deg);
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	z-index: 10;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 11px;
	font-family: 'Malgun Gothic', dotum, '����', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #ff5e78;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}

.wrap2 {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 500px;
	height: 300px;
	z-index: 10;
	margin-left: -250px;
	text-align: left;
	font-size: 11px;
	font-family: 'Malgun Gothic', dotum, '����', sans-serif;
	line-height: 1.5;
}

.wrap2 * {
	padding: 0;
	margin: 0;
}

.wrap2 .info2 {
	width: 500px;
	height: 288px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap2 .info2:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info2 .title2 {
	padding: 5px 0 5px 10px;
	width: 250px;
	height: 30px;
	background: url(/are/resources/img/grass.png);
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.info2 .title3 {
	text-align: center;
	padding: 5px 0 5px 0;
	width: 250px;
	height: 30px;
	background: url(/are/resources/img/grass.png);
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.info2 .close2 {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info2 .close2:hover {
	cursor: pointer;
}

.info2 .body2 {
	position: relative;
	width: 250px;
	height: 250px;
}

.info2 .body3 {
	position: relative;
	width: 250px;
	height: 250px;
}

.info2 .desc2 {
	text-align: center;
	position: absolute;
	left: 3px;
	bottom: 0;
	font-Size: medium;
	height: 105px;
}

.info2 .desc3 {
	text-align: center;
	position: absolute;
	left: 0%;
	bottom: 0;
	font-Size: medium;
	height: 115px;
	width: 250px;
}

.desc2 .ellipsis2 {
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc2 .jibun2 {
	font-size: medium;
	color: #888;
	margin-top: -2px;
}

.info2 .img2 {
	margin: 10px 0 0 25px;
	position: absolute;
	top: 6px;
	width: 200px;
	height: 120px;
	border: 2px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info2 .img3 {
	margin: 10px 0 0 0px;
	position: absolute;
	top: 10px;
	left: 30%;
	width: 100px;
	height: 100px;
	color: #888;
	overflow: hidden;
}

.info2:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 251px;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info2 .link2 {
	color: #5085BB;
}

.info2 .div1 {
	width: 250px;
	float: left;
}

.info2 .div2 {
	width: 250px;
	float: right;
}

a span:hover {
	color: red;
}

#layer {
	display: none;
	position: absolute;
	bottom: 93px;
	left: 260px;
	z-index: 10;
	width: 250px;
	height: 60px;
	border: 2px solid coral;
	border-radius: 10px;
	background: white;
}

#layer2 {
	display: none;
	position: absolute;
	bottom: 4px;
	left: 260px;
	z-index: 10;
	width: 250px;
	height: 80px;
	border: 2px solid coral;
	border-radius: 10px;
	background: white;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}

#fullheart {
	position: absolute;
	top: 12px;
	right: 306px;
	color: red;
	width: 21px;
	height: 20px;
}

#heart {
	position: absolute;
	top: 12px;
	right: 306px;
	color: white;
	width: 21px;
	height: 20px;
}

#fullheart:hover {
	cursor: pointer;
}

#heart:hover {
	cursor: pointer;
}

.menu a {
	color: black;
}

.menu a:hover {
	color: red;
}

#consulting:hover {
	cursor: pointer;
	color: red;
}

#heartCount {
	position: absolute;
	top: 6px;
	right: 283px;
}

ul {
	list-style: none;
	text-align: center;
}

li {
	display: inline-block;
}

:root { --star-size: 30px; 
	--star-color: black; 
	--star-background: #fc0;
}

.Stars { 
	--percent: calc(var(--rating)/5* 100%);
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times;
	line-height: 1;
}

.Stars::before {
	content: '★★★★★';
	letter-spacing: 3px;
	background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

